.body {
font-family: sans-serif;
background-color: rgba(80, 243, 216, 0.342);
text-align: center;
}

.header {

}

.personal-info {
margin-top: 20px;
}

.about-me{
margin-top: 20px;
}

.education{
margin-bottom: 10px;
}

.experience{
margin-top: 20px;
}

.skills{
margin-top: 20px;
}

.projects{
margin-top: 20px;
}

.references{
margin-top: 20px;
}
